
/*BEGIN IMAGE GRID CSS*/

.grid{
    background: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
a:hover{
    text-decoration: none;
}
body{
    background-color: #e9e9e9;

}
.grid-wrap{
    clear: both;
    padding: 0px;
    max-width: 1170px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

}
.grid .grid-item{
    width: 220px;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
    margin: 5px;


}
.masonry-brick {
    display: none;
}
.masonry-brick.loaded {
    display: block;
}

.grid .grid-item img{
    width: 100%;
}
.grid .grid-item figcaption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    text-align: right;
    overflow: hidden;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
.grid .grid-item:hover figcaption,
.grid .grid-item:hover figcaption p.author,
.grid .grid-item:hover figcaption p.icon-links{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.grid .grid-item h2{
    margin: 5px 0 5px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*font-family: 'Helve-bold'*/
    font-weight: bold;
}
.grid .grid-item.panel{
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px rgba(0,0,0,0.22);
}
/*.grid div p{*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-weight: 300;*/
/*}*/
.grid .grid-item figcaption p.author a:hover{
    text-decoration: underline;
}
.grid .grid-item figcaption p.author{
    font-size: 12px;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    margin: 5px 0px;
}
.grid .grid-item figcaption p.icon-links{
    margin: 0px;
    display: inline-block;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: solid 1px #dddddd;
    color: #000;
    padding-right: 5px;
    font-size: 11px;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
.grid .grid-item p.icon-links a:hover i{
    text-decoration: none;
    color: #337ab7;

}
.grid .grid-item p.icon-links i{
     padding: 5px 5px;
    font-weight: bold;
     margin-right:5px;
     background-color: #dddddd;
    color: #000000;

 }
.grid .grid-item:hover figcaption p.author{
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.grid .grid-item:hover figcaption p.icon-links{
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*END IMAGE GRID CSS*/
/*BEGIN CATEGORIES SELECT CSS*/
.cate-select-panel{
    padding: 20px 0 10px 0;
    background-color: #fff;

}
.cate-select-panel p{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
    margin: auto;
}
.cate-select-panel .btn.btn-primary{
    margin: 20px 0px;
    width: 100%;
}
/*END CATEGORIES SELECT CSS*/
/*BEGIN NAVBAR CSS*/

.navbar-inverse{
    background-image: none;

}
nav.navbar.navbar-inverse {
    border-radius: 0;
    width: 100%;
    background-color: #000;

}
.navbar-inverse .navbar-nav{
    width: 100%;
    margin: auto;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #1f1f1f;
}
.navbar-inverse .navbar-nav>li{
    padding: 0px;
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #cccccc;
}
.navbar-inverse .navbar-nav>li.search-btn{
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>.dropdown-menu{
    background-color: #1f1f1f;
    border: none;
    width: 100%;
    text-align: center;

}
.pe-7s-angle-down{
    font-size: 1em;
}
.navbar-inverse .navbar-nav>li>.dropdown-menu a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>.dropdown-menu a:hover{
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: rgba(0,0,0,0.2);
    background-image: none;
}
.navbar-inverse .pe-7s-search{
   color: #000;
   font-size: 20px;
    font-weight: bold;
}
.navbar-inverse .pe-7s-search:hover{
    color: #337ab7;
}
.navbar-inverse .form-control.search-panel{
    border-radius: 15px;
    height: 30px;
    border: none;

}
.nav>li>a.search-button{
    position: absolute;
    top: 0px;
    right: 5px;
}
.nav>li>a.search-button:hover{
    color: #000;
}
@media (max-width: 991px) {
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
    }
    }
/*END NAVBAR CSS*/
/*BEGIN CAROUSEL EDIT CSS*/
.carousel-indicators{
    bottom: 0px;
}
.carousel .img-bg1{
    background: url("../img/slide1.jpg") no-repeat center center;
}
.carousel .img-bg2{
    background: url("../img/slide2.jpg") no-repeat center center;
}
.carousel .img-bg3{
    background: url("../img/slide3.jpg") no-repeat center center;
}
.carousel-caption .btn{
    min-width: 150px;
}
.carousel-indicators .active{
    width: 10px;
    height: 10px;
}
.carousel-indicators li{
    width: 8px;
    height: 8px;
}
/*END CAROUSEL EDIT CSS*/
/*BEGIN NAVBAR HIDE*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-sm-btn{
    position: fixed;
    z-index: 300;
    width: 30px;
    height: 20px;
    top: 15px;
    left: 15px;
}
.menu-trigger:before {
    position: absolute;
    width: 30px;
    height: 1px;
    background: #fff;
    box-shadow: 0 10px #fff, 0 20px #fff;
    content: '';
}
.mp-pusher{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    height: 100%;
}
.mp-pusher .mp-shadow{
    visibility: hidden;
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}


.mp-menu {
    position: absolute; /* we can't use fixed here :( */
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    background-color: #1f1f1f;
}

.mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
    background: rgba(0,0,0,0.3);
    -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
    z-index: -1;
}
.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
    cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

.mp-pusher,
.mp-level {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0,0,0,0.2);
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    box-shadow: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(255,255,255,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 1em;
}

.mp-menu.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.mp-menu ul li > a {
    display: block;
    padding: 0.7em 1em 0.7em 1.8em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1em;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    color: #fff;
}
.mp-menu ul li > a:hover{
    color: #ccc;
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0,0,0,0.2);
    line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
    background: rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}
.mp-back:hover{
    color: #ccc;
}
.mp-back .pe-7s-angle-left {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    color: rgba(255,255,255,0.3);
}
.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}
/*END NAVBAR HIDE*/

/*BFGIN SEARCH SM*/
.search-nav-panel.active{
    visibility: visible;
}
.search-nav-icon.active2{
    visibility: hidden;
}
.search-nav-panel{
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 300;
}
.shadow-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
#search-icon{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 400;
}
.search-nav .pe-7s-search{
    font-size: 20px;
    font-weight: bold;
}
.search-nav-icon .pe-7s-search{
    font-size: 30px;
    color: white;
}
.search-nav-panel .form-control{
    height: 30px;
    border-radius: 20px;
}
.search-nav{
    background-color: white;
    height: 50px;;
    width: 100%;
}
.search-nav-panel .search-nav{
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-nav-panel .search-nav .search-txt .search-panel{
    margin: auto;
    width: 100%;
}
.search-nav-panel .search-nav .search-txt{
    padding-left: 5px;
    padding-right: 5px;
}
.search-txt-btn{
    position: absolute;
    top: 5px;
    right: 15px;
    color: black;
}
/*END SEARCH SM*/
